:root {
  --primary: whitesmoke;
  --background: whitesmoke;
  --text: #1C1C1C;
  --alert: #D7263D;
  --advice: #F4B400;
  --border: #CCCCCC;
  --radius: 8px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  color: var(--text);
}

header {
  background-color: var(--primary);
  color: green;
  padding: 1rem;
  text-align: center;
  border-bottom: 3px solid;
}

section {
  padding: 1rem 2rem;
  text-align: center;
}

button {
  background-color: greenyellow;
  color: rgb(21, 20, 20);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border-radius: var(--radius);
  cursor: pointer;
}

#table-section {
  overflow-x: auto;
}

#transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

#transaction-table th, #transaction-table td {
  border: 1px solid var(--border);
  padding: 0.75rem 1rem;
  text-align: left;
  white-space: nowrap;
}

#transaction-table th {
  background-color: var(--primary);
  color: black;
}

#alertBox {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--alert);
  color: rgb(49, 214, 159);
  border-radius: var(--radius);
  display: none;
}

#alertBox.visible {
  display: block;
}

 #adviceBox {
  background-color: var(--advice);
  color: black;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: var(--radius);
  font-weight: 500;
  border-left: 5px solid var(--primary);
}

#menuContainer {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background:  #f4f4f4;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}

#menuContainer:hover #dropdownMenu,
#dropdownMenu.show {
  display: block;
}

#dropdownMenu label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000;
}